<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${notes}" class="container my-5">
					<p class="my-5">
						<a href="/notes/addnote" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2">Add Notes</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Notes yet!</h2>
						<div th:case="*">
							<table id="emp-table"
								class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Name</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="note : ${notes}">
										<td th:text="${note.name}"></td>
										<td th:text="${note.date}"></td>
									</tr>
								</tbody>
							</table>
							<div class="pagination-div"
								th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
								<span th:if="${notes.hasPrevious()}"> <a
									th:href="@{listnotes(page=${notes.number-1},size=${notes.size},sort=${sortParam})}">Previous</a>
								</span>
								<th:block
									th:each="i: ${#numbers.sequence(0, notes.totalPages - 1)}">
									<span th:if="${notes.number == i}" class="selected">[[${i}+1]]</span>
									<span th:unless="${notes.number == i}"> <a
										th:href="@{listnotes(page=${i},size=${notes.size},sort=${sortParam})}">[[${i}+1]]</a>
									</span>
								</th:block>
								<span th:if="${notes.hasNext()}"> <a
									th:href="@{listnotes(page=${notes.number+1},size=${notes.size},sort=${sortParam})}">Next</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
